{% extends "base.html" %}

{% block content %}

Edit a Profile
</div>

<form method="POST" class="form-data" enctype="multipart/form-data">
    <div>{{ form.submit(class="btn btn-success") }}&nbsp;&nbsp;
    {% if active_user_id.admin == 1 %}
        <a href="{{ url_for('manage_users') }}" class="btn btn-secondary">Cancel</a>
    {% else %}
        <a href="{{ url_for('home') }}" class="btn btn-secondary">Cancel</a>
    {% endif %}
    </div>
        {{ form.hidden_tag()}}
        <table>
        <tr>
            <td>&nbsp;</td>
        </tr>
        {% if active_user_id.admin == 1 %}
        <tr>
            <td>{{ form.name.label(class="form-label")}}</td>
            <td>&ensp;&ensp;&ensp;</td>
            <td style="width: 25cm;">{{ form.name(class="input-field", value=edit_profile.name) }}</td>
        </tr>
        <tr>
            <td>{{ form.birth_date.label(class="form-label")}}</td>
            <td></td>
            <td>{{ form.birth_date(class="input-field", value=edit_profile.birth_date) }}</td>
        </tr> 
        <tr>
            <td>{{ form.phone_num.label(class="form-label")}}</td>
            <td></td>
            <td>{{ form.phone_num(class="input-field", value=edit_profile.phone_num) }}</td>
        </tr> 
        <tr>
            <td>{{ form.address.label(class="form-label")}}</td>
            <td></td>
            <td>{{ form.address(class="input-field", value=edit_profile.address) }}</td>
        </tr> 
        <tr>
            <td>{{ form.username.label(class="form-label")}}</td>
            <td></td>
            <td>{{ form.username(class="input-field", value=edit_profile.username) }}</td>
        </tr>
        <tr>
            <td>{{ form.password.label(class="form-label")}}</td>
            <td></td>
            <td>{{ form.password(class="input-field", value=edit_profile.password) }}</td>
        </tr> 
        <tr>
            <td>{{ form.admin.label(class="form-label")}}</td>
            <td></td>
            <td><div class="form-check form-switch">{{ form.admin(class="form-check-input", role="switch") }}</div></td>
        </tr>  
        <tr>
            <td>{{ form.access_right.label(class="form-label")}}</td>
            <td></td>
            <td><div class="form-check form-switch">{{ form.access_right(class="input-field", value=edit_profile.access_right) }}</div></td>
        </tr> 
        <tr>
            <td>
                Registered Date
            </td>
            <td> : 
            </td>
            <td>
                {{ edit_profile.date_created }}
            </td>
        </tr>
        <tr>
            <td>
                Date modified
            </td>
            <td> : 
            </td>
            <td>
                {{ edit_profile.date_modified }}
            </td>
        </tr>
        <tr>
            <td>
                Created by
            </td>
            <td> : 
            </td>
            <td>
                {% if created_by_user.username %}
                    {{ created_by_user.username }}
                {% else %}
                    ---unknown user---
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>
                Last Modified by
            </td>
            <td> : 
            </td>
            <td>
                {% if modified_by_user.username %}
                    {{ modified_by_user.username }}
                {% else %}
                    ---unknown user---
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        {% endif %}
        <tr>
            <td>{{ form.image.label(class="form-label")}}</td>
            <td>&nbsp;</td>
            <td>{{ form.image(class="form-control") }}</td>
        </tr>  
        <tr>
            <td colspan="3">
                <br>
                {% if edit_profile.image != 'N/A'%}
                    <img src="{{ url_for('static', filename ='img/upload/profile/'+edit_profile.image ) }}" class="form-image" title="image" alt="Image not uploaded"><br><br>
                    <div class="form-check form-switch">{{ form.del_image(class="form-check-input", role="switch") }}{{ form.del_image.label(class="form-label")}}</div>
                {% else %}
                    <span>No image</span>
                {% endif %}
            </td>
        </tr>
    </table>
</form>
{% endblock %}